<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Personal IO</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="">
          {{ (af.auth | async).auth.displayName}}
        </a>
        <a class="mdl-navigation__link" href="">
          <img class="user-photo" [src]="(af.auth | async).auth.photoURL">
        </a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
  <main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid page-content"><!-- Your content goes here -->
      <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <!-- Numeric Textfield -->
        <form [formGroup]="recordForm" (submit)="saveRecord()" style="padding: 8px;">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input formControlName="volume" class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
            <label class="mdl-textfield__label" for="sample4">Number...</label>
            <span class="mdl-textfield__error">Input is not a number!</span>
          </div>
          <button style="margin: 0 16px;" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
            ADD
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
